<!-- SECCIÓN PRINCIPAL -->
<div class="container-fluid home-container animate__animated animate__fadeIn">
  <div class="row no-gutters">
    <!-- Texto -->
    <div class="right-section animate__animated animate__fadeInLeft animate__delay-1s titulo-safiro">
      <h1 class="align-text-top m-1 fs-2">
        <span class="titulo-workforce">Técnica y Servicios</span>
      </h1>

      <p class="subtitulo">Organizador Asesor de Productores de Seguros</p>

      <hr class="separador">

      <h3 class="frase-final">Acompañarte es nuestro propósito</h3>
    </div>

    <!-- Imagen -->
    <div class="left-section animate__animated animate__fadeInRight animate__delay-2s">
      <img src="../../../assets/desktop.jpeg" alt="Escritorio" class="img-fluid">
    </div>
  </div>
</div>


<!-- SECCIÓN COMPAÑÍAS -->
<div class="container-fluid companias-section">
  <hr class="section-divider">
  <h2 class="text-center text-white titulo-magofah-italic animate__animated animate__fadeInDown animate__delay-3s">
    Trabajamos con las mejores compañías
  </h2>

  <div class="row">
    <div class="col-md-4" *ngFor="let compania of companias; let i = index"
         [ngClass]="[
           'animate__animated',
           'animate__fadeInUp',
           'animate__delay-3s'
         ]">
      <div class="card">
        <img [src]="compania.logo" alt="{{ compania.nombre }}" class="card-img-top">
      </div>
    </div>
  </div>
</div>
