<div class="image">
  <div class="container">
    <div class="card animate__animated animate__fadeInUp animate__faster animate__delay-1s">
      <h3 class="animate__animated animate__fadeInDown animate__faster animate__delay-2s">Iniciar Sesión</h3>

      <form [formGroup]="loginForm" (ngSubmit)="this.onLogin()">
        <div class="mb-3 animate__animated animate__fadeIn animate__faster animate__delay-2s">
          <label for="email" class="form-label">Usuario</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Ingrese usuario"
          />
          <div class="text-danger" [class.visible]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            El usuario es requerido.
          </div>
        </div>

        <div class="mb-3 animate__animated animate__fadeIn animate__faster animate__delay-2s">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Ingrese contraseña"
          />
          <div class="text-danger" [class.visible]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            La contraseña es requerida.
          </div>
        </div>

        <button
          type="submit"
          class="btn w-100 animate__animated animate__fadeInUp animate__faster animate__delay-2s"
          [disabled]="loginForm.invalid">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
