<div class="container mt-4">
  <form [formGroup]="cotizacionForm">

 <!-- Código Tipo Interés -->
<div class="mb-3">
  <label for="codigoTipoInteres" class="form-label">Código Tipo Interés</label>
  <select id="codigoTipoInteres" class="form-select" formControlName="codigoTipoInteres">
    <option [ngValue]="null" disabled>Seleccione un tipo de interés</option>
    <option *ngFor="let tipo of tipoInteresOpciones" [value]="tipo.id">{{ tipo.nombre }}</option>
  </select>
</div>

    <!-- SECCION VEHICULOS -->

<div class="" *ngIf="this.cotizacionForm.get('tipoVehiculo')?.enabled">

    <!-- Tipo de Vehículo -->
    <div class="mb-3">
      <label for="tipoVehiculo" class="form-label">Tipo de Vehículo</label>
      <select id="tipoVehiculo" class="form-select" formControlName="tipoVehiculo">
        <option [ngValue]="null" disabled>Seleccione un tipo</option>
        <option *ngFor="let tipo of tiposVehiculo" [value]="tipo.id">{{ tipo.nombre }}</option>
      </select>
    </div>

    <!-- Marca -->
    <div class="mb-3">
      <label for="marcaVehiculo" class="form-label">Marca</label>
      <select id="marcaVehiculo" class="form-select" formControlName="marca">
        <option [ngValue]="null" disabled>Seleccione una marca</option>
        <option *ngFor="let marca of marcas"  [value]="marca.id">{{ marca.descripcion }} </option>
      </select>
    </div>

    <!-- Año -->
    <div class="mb-3">
      <label for="anioVehiculo" class="form-label">Año</label>
      <select id="anioVehiculo" class="form-select" formControlName="anio">
        <option [ngValue]="null" disabled>Seleccione un año</option>
        <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
      </select>
    </div>

    <!-- Modelo-->
    <div class="mb-3">
      <label for="modeloVehiculo" class="form-label">Modelo</label>
      <select id="modeloVehiculo" class="form-select" formControlName="modelo">
        <option [ngValue]="null" disabled>Seleccione un modelo</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.id">{{ modelo.descripcion }}</option>
      </select>
    </div>

    <!-- Versión -->
    <div class="mb-3">
      <label for="versionVehiculo" class="form-label">Versión</label>
      <select id="versionVehiculo" class="form-select" formControlName="version"  (change)="onVersionChange($event)">
        <option [ngValue]="null" disabled>Seleccione una versión</option>
        <option *ngFor="let version of versiones" [value]="version.id">{{ version.descripcion }}</option>
      </select>
    </div>


    <!-- Tipo Vigencia -->
    <div class="mb-3">
      <label for="tipoVigencia" class="form-label">Tipo de vigencia</label>
      <select id="tipoVigencia" class="form-select" formControlName="tipoVigencia">
        <option *ngFor="let vigencia of tiposVigencia" [value]="vigencia.id">{{ vigencia.opcion }}</option>
      </select>
    </div>


    <!-- Cuotas -->
    <div class="mb-3">
      <label for="cuotas" class="form-label">Cuotas</label>
      <input type="number" id="cuotas" class="form-control" formControlName="cuotas">
    </div>

 <!-- Clausula de ajuste -->
 <div class="mb-3">
  <label for="clausulaAjuste" class="form-label">Clausula de ajuste</label>
  <select id="clausulaAjuste" class="form-select" formControlName="clausulaAjuste">
    <option [ngValue]="null" disabled>Seleccione una clausula de ajuste</option>
    <option *ngFor="let ajuste of clausulasAjuste" [value]="ajuste.id">{{ ajuste.nombre }}</option>
  </select>
</div>



    <!-- Condición Fiscal -->
    <div class="mb-3">
      <label for="condicionFiscal" class="form-label">Condición Fiscal</label>
      <select id="condicionFiscal" class="form-select" formControlName="condicionFiscal">
        <option *ngFor="let condicion of condicionesFiscales" [value]="condicion.id">
          {{ condicion.condicion }} -   {{ condicion.descripcion }}
        </option>
      </select>
    </div>

    <!-- Código Postal -->
    <div class="mb-3">
      <label for="cpLocalidadGuarda" class="form-label">Código Postal</label>
      <input type="number" id="cpLocalidadGuarda" class="form-control" formControlName="cpLocalidadGuarda">
    </div>

    <!-- Control Satelital -->
    <div class="mb-3">
      <label for="controlSatelital" class="form-label">Control Satelital</label>
      <select id="controlSatelital" class="form-select" formControlName="controlSatelital">
        <option *ngFor="let opcion of opcionesSiNo" [value]="opcion.id">{{ opcion.opcion }}</option>
      </select>
    </div>

    <!-- GNC -->
    <div class="mb-3">
      <label for="gnc" class="form-label">GNC</label>
      <select id="gnc" class="form-select" formControlName="gnc">
        <option *ngFor="let opcion of opcionesSiNo" [value]="opcion.id">{{ opcion.opcion }}</option>
      </select>
    </div>

    <!-- TIpo de uso -->
    <div class="mb-3">
      <label for="uso" class="form-label">Tipo de uso</label>
      <select id="uso" class="form-select" formControlName="uso">
        <option *ngFor="let uso of tiposDeUso" [value]="uso.id">
          {{ uso.uso }}
        </option>
      </select>
    </div>

    <!-- Vigencia Desde -->
    <div class="mb-3">
      <label for="vigenciaDesde" class="form-label">Vigencia Desde</label>
      <input type="date" id="vigenciaDesde" class="form-control" formControlName="vigenciaDesde">
    </div>

    <!-- Vigencia Hasta -->
    <div class="mb-3">
      <label for="vigenciaHasta" class="form-label">Vigencia Hasta</label>
      <input type="date" id="vigenciaHasta" class="form-control" formControlName="vigenciaHasta">
    </div>

    <!-- Botón Cotizar -->
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" (click)="cotizar()">Cotizar</button>
    </div>

  </div>

  </form>
</div>



<!--TABLA COTIZADORA-->

<div  *ngIf="this.cotizacionesRus.length">
<h3 class="m-3 p-3">RIO URUGUAY</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Descripción Comercial</th>
      <th>Responsabilidad Civil</th>
      <th>Premio</th>
      <th>IVA</th>
      <th>Suma Asegurada</th>
      <th>Ajuste Automático</th>
      <th>Franquicia</th>
      <th>Auxilio Mecánico</th>
      <th>Países Limítrofes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cotizacion of cotizacionesRus">
      <td>{{ cotizacion.descripcionComercial }}</td>
      <td [innerHTML]="cotizacion.descripcionRC"></td>
      <td>{{ cotizacion.premio | currency:'ARS' }}</td>
      <td>{{ cotizacion.iva | currency:'ARS' }}</td>
      <td>{{ cotizacion.sumaAsegurada | currency:'ARS' }}</td>
      <td>{{ cotizacion.ajusteAutomatico }}%</td>
      <td>{{ cotizacion.franquicia | currency:'ARS' }}</td>
      <td>{{ cotizacion.auxilioMecanico }}</td>
      <td>{{ cotizacion.paisesLimitrofes }}</td>
    </tr>
  </tbody>
</table>
</div>
