
<div class="container-fluid p-4">
  <div *ngIf="multicotizador">
    <app-multicotizador (cotizacionGenerada)="actualizarCotizaciones($event)"></app-multicotizador>
  </div>


  <div *ngIf="this.misCotizaciones.length > 0 && multicotizador">
    <app-tabla-cotizadora [cotizaciones]="this.misCotizaciones"></app-tabla-cotizadora>
  </div>

  <div *ngIf="!multicotizador">
    <h2>Bienvenido al portal</h2>
    <p>Selecciona una opción del menú.</p>

  <h2>Alta de Productor</h2>

  <form (ngSubmit)="crearProductor()">
    <input type="text" [(ngModel)]="productor.nombre" name="nombre" placeholder="Nombre" required />
    <input type="text" [(ngModel)]="productor.apellido" name="apellido" placeholder="Apellido" required />
    <input type="email" [(ngModel)]="productor.email" name="email" placeholder="Email" required />
    <input type="password" [(ngModel)]="productor.password" name="password" placeholder="Contraseña" required />
    <input type="text" [(ngModel)]="productor.uid" name="uid" placeholder="uid" required />
    <button type="submit" class="btn btn-block btn-lg btn-success">Crear productor</button>
  </form>

  </div>
</div>
