<div class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar d-flex">
    <!-- Sidebar Mejorado -->
    <div class="d-flex flex-column p-3 bg-success text-white" style="width: 280px;">
      <a href="/" class="d-flex align-items-center justify-content-center mb-4 text-white text-decoration-none">
        <span class="fs-4">Bienvenido</span>
      </a>
      <hr class="border-light">

      <ul class="nav nav-pills flex-column mb-auto text-center">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link text-white">
            Mi perfil
          </a>
        </li>
        <li class="nav-item mb-2">
          <button class="btn btn-light w-100" (click)="openMulticotizador()">Multicotizador</button>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link text-white">
            Emitir pólizas
          </a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link text-white">
            Ver productos
          </a>
        </li>
        <li class="nav-item mt-auto">
          <a href="#" class="nav-link text-white" (click)="logout()">
            Cerrar sesión
          </a>
        </li>
      </ul>
      <hr class="border-light">
    </div>
  </div>


  <!-- Contenido principal -->
  <div class="flex-grow-1 p-4">
    <div *ngIf="multicotizador">
      <app-multicotizador (cotizacionGenerada)="actualizarCotizaciones($event)"></app-multicotizador>


    </div>

    <div *ngIf="this.misCotizaciones.length>0">

      <app-tabla-cotizadora [cotizaciones]="this.misCotizaciones"></app-tabla-cotizadora>
    </div>
    <div *ngIf="!multicotizador">
      <h2>Bienvenido al portal</h2>
      <p>Selecciona una opción del menú.</p>
    </div>
  </div>
</div>
